<div id = "wrapper">
  <%= render :partial => '/layouts/admin/top' %>
  <div id = "container">
    <%= render :partial => '/plugins/category' %>
    <div id = "rightinner">
      <div id = "titlegreenleft">
        <div class="greentitle"><img src="/images/content.png" style="vertical-align:middle; margin-right:8px;" />Employee Management</div>
      </div>
      <br/><br/>
      <div id = "matterinner">
        <div id = "innerlinks"> 
          <span class="link"><%= link_to "Employees" , employees_path  %></span> |
          <span class="link"><%= link_to "Departments" , departments_path  %></span> |
          <span class="link"><%= link_to "Designations" , designations_path  %></span> | 
          <span class="link"><%= link_to "Hierarchies" , hierarchies_path  %></span> 
        </div>
			  <br/>
        <h3> Employee Management </h3>
			  <br/>
        <div>
          <%= render :partial => 'form' %>
        </div>
			  <br/>
        <table width="601" border="1" cellspacing="0" cellpadding="0" bordercolor="#c5c3c3">
          <tr>
            <th width="94" align="center" valign="middle">Report To</th>
            <th width="111" align="center" valign="middle">By</th>
            <th width="111" align="center" valign="middle">Action</th>
          </tr>
          <% @hierarchies.each do |hierarchy| %>
            <tr> 
              <% employee = Employee.find(hierarchy.report_to)  %>  
              <td align="center" valign="middle"><%= employee.first_name + ' ' + employee.last_name  %> </td>
              <td align="center" valign="middle"><%= hierarchy.employee.first_name + ' '  + hierarchy.employee.last_name  %> </td>
              <td align="center" valign="middle" class="tablelinks">
                <%= link_to "Delete", hierarchy_path(hierarchy), :method => "delete" %>
              </td>
            </tr>
          <% end %>
        </table>
        <br/>
        <br/> <br/>
      </div>
      <div id = "rightinnerbottom"></div>
    </div>
    <div style="clear:both"></div>
  </div><br/><br/><br/>
</div>
